/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger div {
  transition: all 0.6s ease-in-out;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}

.hamburger.open .line:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -2px);
}

.close-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.close-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.faq div {
  transition: all 0.6s ease-in-out;
}
.faq.open .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}

.faq.open .line:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -2px);
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
}

.animate-gradientbg {
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
